<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Ubicaciones</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Formulario de Ubicaciones</h1>
        <form action="/submit" method="POST" name="sentMessage" id="contactForm" novalidate="novalidate">
            <div class="form-row">
                <div class="col-sm-6 control-group">
                    <input type="text" class="form-control p-4" id="ubi" name="ubi" placeholder="Ubicación actual" required="required" data-validation-required-message="Por favor ingresa tu ubicación" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="col-sm-6 control-group">
                    <input type="text" class="form-control p-4" id="des" name="des" placeholder="Ubicación de destino" required="required" data-validation-required-message="Por favor ingresa la ubicación a la que quieres llegar" />
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="mt-3">
                <button class="btn btn-primary btn-block py-3 px-5" type="submit" id="sendMessageButton">Enviar mensaje</button>
            </div>
        </form>
    </div>
</body>
</html>
